.white_pon{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');
}
.black_pon{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');
}
.white_knight{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png');
}
.black_knight{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png');
}
.white_bisop{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');
}
.black_bisop{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png');
}
.white_rook{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png');
}
.black_rook{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png');
}
.white_queen{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png');
}
.black_queen{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png');
}
.white_king{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');
}
.black_king{
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png');
}