#picture
  {
  text-align: center;
  position:absolute;
  z-index: 1;
  width: 300px;
  top: 100px;
  left: 17%;
  display: block; 
  margin: 0px auto;
  border-radius: 100%;
  border-width:7px;
  border-color:gray; 
  border-style:solid;
  }
  #rectangle
   {
    width: 100%;
    height: 400px;
    background: mediumaquamarine;
    position: relative;
    z-index: 0;
    top: 230px;
    text-align: center;
    line-height: 450px;
    font-size: 3.8em;
    font-family: consolas;
    font-weight: bold; 
    }
    #Smallicon
  {
    width: 60px;
    height: 32px;
    position : absolute;
    top : 30px;
    right : 30px;
  }
  #Smallicon1
  {
    width: 34px;
    height: 25px;
    position : absolute;
    top : 33px;
    right : 110px;
  }
  #Smallicon2
  {
    width: 34px;
    height: 25px;
    position : absolute;
    top : 33px;
    right : 180px;
  }
  